@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{ margin:0px; padding:0px; text-decoration:none; list-style:none; font-weight:normal; box-sizing:border-box;}


.clearfix {
    clear: both;
}


body{
background:#f1f1ff !important;
color:#222;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background: #e7ebee !important;
    color: #222222;
}

label {
    font-family: 'robotomedium' !important;
    font-weight: normal !important;
}

.hide {
    display: none;
}

.marT-25 {
    margin-top: 25px;
}

.title_band {
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #bbbbbb;
    position: fixed;
    top: 0px;
    z-index: 100;

}

.title_band .title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    
    float: left;
    margin-top: 5px;
}

.save_cancel {
    float: right;
}

.save_cancel button {
    font-size: 14px;
    color: #fff;
    line-height: 14px;
    padding: 7px 15px;
    float: right;
    margin-left: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.save_cancel .save_btn {
    background: #2b90cc;
}

.save_cancel .cancel_btn {
    background: #444444;
}

.wraper {
    width: 100%;
    float: left;
    overflow: hidden;
}

.wrap {
    width: 100%;
    padding: 20px 0;
    height: calc(100vh - 100px);
    height: ~"calc(100vh - 100px)";
    overflow-y: scroll;
    padding-right: 20px;
    position: relative;
    margin-top: 50px;
}

.scroll::-webkit-scrollbar {
    width: 7px;

}

.scroll::-webkit-scrollbar-track {
    background: #e7ebee;
    border: 1px solid #bbbbbb;
}

.scroll::-webkit-scrollbar-thumb {
    background: #444444;
}

.left_sec,
.right_sec {
    width: 50%;
    float: left;
    padding-left: 20px;
}

.left_sec {}

.right_sec {
    position: fixed;

    right: 25px;
    float: left;
    padding-left: 30px;
}

.right_sec .img_box {
    width: 100%;
    float: left;
    border: 1px solid #cccccc;
    background: #fff;
}

.img_box img {
    width: 100%;
}

.con_box {
    background: #fff;
    width: 100%;
    border: 1px solid #cccccc;
    padding: 12px;
    float: left;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.left_sec .con_box:last-child {
    margin-bottom: 0px !important;
}

.con_count {
    width: 32px;
    height: 32px;
    background: #d4d4d4;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    vertical-align: middle;
    color: #333;
    font-weight: 700;
    float: left;
}

.required_opt {
    font-size: 13px;
    line-height: 18px;
    color: #f51c1c;
    float: right;

    margin-right: 5px;
    margin-top: 7px;
    font-weight: 500;
}

.con_title {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #222222;
}

.input_box {
    width: 45%;
    float: left;
    margin-bottom: 12px;
    margin-right: 25px;


}

.input_box label {
    font-size: 13px;
    line-height: 13px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    font-weight: 500;
}

.input_box label span {
    font-weight: 400;
}

.input_box input[type="text"] {
    font-size: 13px;
    width: 100%;
    float: left;
    border: 1px solid #a3a3a3 !important;
    outline: none;
    height: 24px;
    line-height: 20px;
    color: #333333;
    padding: 0px 5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.input_box input[type="text"]::placeholder {
    color: #888888;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.input_box_full {
    width: 100%;
    margin-right: 0px;
    margin-top: 5px;
}

.add_key_val {
    width: 100%;
    height: 26px;
    background: #2b90cc;
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.input_box select {
    font-size: 13px;
    width: 100%;
    float: left;
    border: 1px solid #a3a3a3 !important;
    outline: none;
    height: 24px;
    line-height: 19px;
    color: #333333;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: top 8px right 7px;
    background-repeat: no-repeat;
    background-image: url(https://tpointdevstorage.blob.core.windows.net/basedevpubliccontainer/1550758806502.PNG);
    padding: 2px 4px 4px 6px;
}

.disable_select {
    background-color: #cccccc !important;
}

.disable_input {
    background-color: #cccccc !important;
}

.remove_btn {
    float: right;
    width: 22px;
    height: 22px;
    background: #2b90cc;
    border: none;
    outline: none;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    cursor: pointer;
    font-weight: normal !important;
    font-family: arial;
    font-family: 'Roboto', sans-serif;
    margin-top: 1px;
}

.remove_btn .fa {
    font-weight: normal !important;
}

.input_row {
    width: 100%;
    float: left;
}

.title_row {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.input_box02 {
    margin-right: 0px !important;
}



.input_radio input[type=radio].with-font,
.input_checkbox input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    padding: 0;
    display:none;
    margin-top: 0px;

}

.input_radio input[type=radio].with-font~label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #2b90cc;
    width: 18px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.input_radio input[type=radio].with-font:checked~label:before {
    content: "\f058";
    font-size: 1.2em;
    color: #2b90cc;
    letter-spacing: 4px;
}

.input_radio label {
    cursor: pointer;
    margin-bottom: 0px;
}

.input_radio {
    float: left;
    margin-right: 20px;
}



.input_checkbox input[type=checkbox].with-font~label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    letter-spacing: 10px;
    font-size: 16px;
    color: #2b90cc;
    width: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0px;
    vertical-align: bottom;
}


.input_checkbox input[type=checkbox].with-font:checked~label:before {
    content: "\f14a";
    font-size: 16px;
    color: #2b90cc;
    letter-spacing: 10px;
    margin-top: 0px;
}

.input_checkbox label {
    line-height: 22px;
    margin-bottom: 0px;
    cursor: pointer;
}

.input_checkbox input {
    top: 15px;
}

.use_this {
    width: auto;
    float: right;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 0px;
}



/*----------------------------------- agent performace ---------------------------*/

.check_color {
    width: 100%;
    float: left;
    margin-bottom: 3px;
}

.check_color .input_checkbox {
    float: left;
}

.input_checkbox_02 {
    margin-top: 19px;
}

.color_pic {
    float: right !important;
    width: 70px !important;
    text-align: right;
    font-size: 12px;
    height: 20px;
}

.color_pic::placeholder {
    color: #fff !important;
}

.line_bar_chart {
    margin-top: 25px;
}

.lbl_color {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.lbl_color .lbl_txt {
    float: left;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 22px;
}



.cms_name_theme {
    width: 100%;
    float: left;
    padding: 15px 10px;
    background: #2b90cc;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.cms_nt {}

.theme_color {
    width: 20%;
}

.check_color .color_pic {
    height: 20px !important;
}

.disable_chk_col {
    opacity: 0.5;
}

.disable_chk_col label {
    cursor: default;
}


.dark_theme {
    background: #333333;
}

.half_width {
    width: 45%;
    float: left;
}

.pull_right {
    float: right;
}

.input_box textarea {
    font-size: 13px;
    width: 100%;
    float: left;
    border: 1px solid #a3a3a3 !important;
    outline: none;
    min-height: 65px;
    line-height: 20px;
    color: #333333;
    padding: 0px 5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    resize: none;
}


.select_list {
    width: 100%;
    float: left;
    border: 1px solid #cccccc;
    height: 134px;
    overflow-y: scroll;
    background: #fff;
}

.select_list li {
    background: #fff;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    float: left;
}

.select_list li:hover {
    background: #e9f4fa;
}

.select_list li label {
    margin-bottom: 0px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 2px 5px !important;
    display: inline-block;

}

.select_list .input_radio {
    width: 100%;
}

.select_list .input_checkbox {
    width: 100%;
}



/*----------------------------- Range Slider ------------------------*/

.range_slider01 .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 0px;
    background: #f8f8f8;
    outline: none;
    border: 1px solid #a3a3a3;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: 8px;
    border-radius: 5px;
}

.range_slider01 .slider:hover {
    opacity: 1;
}

.range_slider01 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #a3a3a3;
    background: #f8f8f8;
    cursor: pointer;
}

.range_slider01 .slider::-moz-range-thumb {
    width: 10px;
    height: 25px;

    background: #2b90cc;
    cursor: pointer;
}

.range_slider01 .range_val {
    font-weight: 700;
    float: right;
}


/*----------------------------------- Responsive code ---------------------------*/


@media only screen and (min-width:768px) and (max-width:1000px) {
    .input_box {
        width: 40%;
        margin-right: 15px;
    }

    .input_box.use_this {
        width: auto;
    }

    .input_box_full {
        width: 100% !important;
    }

    .indicators .input_box {
        width: 100% !important;
        margin-bottom: 0px;
    }

    .mean_comp .input_box {
        width: 40% !important;
        margin-bottom: 0px;
    }

    .indicators .mean_onoff {
        width: 100px !important;
        margin-right: 0px;
    }

    .indicators {
        margin-bottom: 10px;
    }

    .line_bar_chart {
        margin-top: 5px;
        width: 100%;
    }

    .default_text {
        width: 100%;
    }

    .cms_nt {
        width: 100%;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {

    .input_box {
        width: 80%;
        margin-right: 15px;
    }

    .input_box.use_this {
        width: auto;
    }

    .input_box_full {
        width: 100% !important;
    }

    .indicators {
        margin-bottom: 10px;
    }

    .indicators .input_box {
        width: 100% !important;
        margin-bottom: 0px;
    }

    .mean_comp .input_box {
        width: 60% !important;
        margin-bottom: 0px;
    }

    .indicators .mean_onoff {
        width: 100px !important;
        margin-right: 0px;
    }

    .line_bar_chart {
        margin-top: 5px;
    }

    .cms_name_theme {
        position: static;

    }

    .cms_nt {
        width: 100%;
    }

    .cms_nt .input_box {
        width: 40%;
    }
}

@media only screen and (max-width:479px) {
    .wrap {
        padding: 10px;
    }

    .right_sec {
        width: 100%;
        position: static;
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .left_sec {
        width: 100%;
        padding-left: 0px;
    }

    .input_box {
        width: 80%;
    }

    .indicators {
        margin-bottom: 10px;
    }

    .indicators .input_box {
        width: 100% !important;
        margin-bottom: 0px;
    }

    .mean_comp .input_box {
        width: 50% !important;
        margin-bottom: 0px;
    }

    .indicators .mean_onoff {
        width: 100px !important;
        margin-right: 0px;
    }

    .input_box.use_this {
        width: auto;
    }

    .cms_nt {
        width: 100%;
    }

    .cms_nt .input_box {
        width: 40%;
    }
}











.config_type {
    border: 1px solid #a3a3a3;
    float: left;

}

.config_type li {
    width: 72px;
    height: 72px;
    float: left;
    border-right: 1px solid #a3a3a3;
    text-align: center;
    cursor: pointer;
}

.config_type li:last-child {
    border-right: none;
}

.config_type li .fa {
    font-size: 21px;

    margin-top: 9px;
    margin-bottom: 6px;
}

.config_type li .txt {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold !important;
}

.config_type .active {

}

.ftctrl_view_type.active .fa {
    color: #fff !important;
}

.ftctrl_view_type.active .txt {
    color: #fff !important;
}

.input_box03 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.calltype {
    margin-top: 10px;
}

.calltype .input_checkbox {
    float: left;
    margin-right: 15px;
}

.calltype .input_checkbox:last-child {
    margin-right: 0px;
}

.transfertype {
    margin-top: 20px;
}

.marT-10 {
    margin-top: 10px;
    width: 100%;
    float: left;
}

.max_connect {
    margin-top: 25px;
    margin-bottom: 15px;
    float: left;
}

.max_connect label {
    margin-bottom: 12px;
}

.file_size {
    margin-top: 15px;
}

.file_types {
    margin-bottom: 10px;
}

.file_types .col {
    width: 25%;
    float: left;
}

.file_types label {
    font-size: 13px;
    width: 100%;
    float: left;
    margin-bottom: 3px;
    font-weight: 500;
}

.file_types .input_checkbox {
    overflow: auto;
}

.disable_check {
    opacity: 0.5;
}