@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{ margin:0px; padding:0px; text-decoration:none; list-style:none; font-weight:normal; box-sizing:border-box;}


.clearfix {
    clear: both;
}

*{ margin:0px; padding:0px; text-decoration:none; list-style:none; font-weight:normal; box-sizing:border-box;}

body{
background:#f1f1ff !important;
color:#222;
}
.clearfix{
clear:both;
}
*{ margin:0px; padding:0px; text-decoration:none; list-style:none; font-weight:normal; box-sizing:border-box;}

body{
font-family: robotoregular;
background:#f1f1ff !important;
color:#222;
}
.hide{
  display: none;
}
.top_title_band{
padding:10px;
background:#fff;
height:48px;
border-bottom:1px solid rgba(0,0,0,0.2);
}
.top_title_band .title{
font-family: robotomedium;
float:left;
}
.top_title_band .title img{
width: 27px;
float: left;
margin-right: 7px;
}
.top_title_band .title .fa{
font-size: 27px;
float: left;
margin-right: 7px;

}
.top_title_band .title span{
font-family: robotomedium;
float:left;
font-size:18px;
line-height: 27px;
}
.theme_fg_color{
  color:#6f6ee0 !important;
}
.theme_bg_color{
  background:#6f6ee0 !important;
}


/* =========================================== Button Css  =========================== */




.fa-btn:before{
	background:none !important;	
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #fff;
    font-size: 14px;
	height: 17px !important;
	padding-top:5px;
}

.fa-btn:after{
	background:none !important;	
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #fff;
    font-size: 14px;
	height: 17px !important;
	padding-top:5px;
}

/* ------------------------------------- Save Button ------------------- */

.fa-btn.save:before{
content: "\f0c7" !important;
}
 


/* ------------------------------------- Return Button ------------------- */

.fa-btn.return:before{
content: "\f060" !important;
padding-top:4px;
}




/* ------------------------------------- Change Button ------------------- */
.redbtn.change:before{
content: "\f0e2" !important;
padding-top:4.5px;
}



/* ------------------------------------- New Button ------------------- */
.redbtn.new:before{
content: "\f0fe" !important;
padding-top:4.5px;
}

/* ------------------------------------- Add_01 Button ------------------- */

.fa-btn.add_01:before{
content: "\f067" !important;
padding-top:5px;
}

/* ------------------------------------- Refresh Button ------------------- */

.fa-btn.refresh:before{
content: "\f021" !important;
padding-top:5px;
}


/* ------------------------------------- Red Button ------------------- */
.redbtn{
background-color:#ff4747 !important;
}
.redbtn:before{
	background-color:#ff3333 !important;
}



.button_group .controlBox{
margin-bottom:0px;
}
.button_group .controlBox button{
    line-height: 13px !important;
	padding-left:30px !important;
	margin-top:2px;
	
} 

.wrap{
padding:20px;
}

.wrap02{
margin-bottom:30px;
float:left;
width:100%;
}
.box_title{
float:left;
width:100%;
margin-bottom:10px;
}
.box_title img{
width:24px;
height:24px;
float:left;
} 
.box_title span{
float:left;
font-size:14px;
font-weight:500;
margin-left:7px;
margin-top:4px;
}
.txt_speach textarea{
width:100%;
outline:1px solid #ccc;
border:0px;
border-top:1px solid #aaa;
height:200px;
padding:5px 7px;
font-size:13px;
font-weight:500;
line-height:16px;
font-family: 'Roboto', sans-serif;
resize:none;
overflow:auto;
}
.txt_speach textarea span{
color:#6f6ee0;
}
.audio_file_lst{
float:left;
width:240px;
margin-right:20px;
}
.audio_file_lst label{
font-size:13px;
float:left;
font-weight:500;
margin-bottom:5px;
}
.available_files{
width:240px;
height:79px;
overflow:auto;
outline:1px solid #ccc;
border:0px;
border-top:1px solid #aaa;
float:left;
background:#fff;
}
.available_files li{
padding:5px 7px;
border-bottom:1px solid #ccc;
width:100%;
float:left;
}
.available_files li:last-child{
}
.available_files .fa-bars{
float:left;
font-size:14px;
color:#6f6ee0;
margin-right:8px;
margin-top:1px;
cursor:pointer;
}
.available_files .fa-volume-up{
float:left;
font-size:14px;
color:#444444;
margin-top:1px;
}
.available_files .file_name{
float:left;
font-size:13px;
margin-left:7px;
font-weight:500;
white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width:70%;
}
.available_files .fa-times{
float:right;
font-size:14px;
color:#6f6ee0;
margin-right:0px;
margin-top:1px;
cursor:pointer;
}
.available_files .fa-minus-square{
float:right;
font-size:14px;
color:#ff0000;
margin-right:2px;
margin-top:2px;
cursor:pointer;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}
 
.scroll::-webkit-scrollbar-track {
  background: #eeeeee;
}
 
.scroll::-webkit-scrollbar-thumb {
  background: #444444; 
}
.request_input .controlBox{
margin-right:20px;
float:left;
}
.request_input .controlBox label{

}
.field_name{
width:240px;
}
.half_width{
width:103px;
}

.hash_submit{
margin-top:22px;
}

.hash_submit input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: 0px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
.hash_submit input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    letter-spacing: 10px;
    font-size: 15px;
    color: #6f6ee0;
    width: 18px;
	font-weight:normal!important;
	text-transform:uppercase;
}


.hash_submit input[type=checkbox].with-font:checked ~ label:before  {
    content: "\f14a";
    font-size: 15px;
    color: #6f6ee0;
    letter-spacing: 5px;
}


.insert_field{
float:right;
cursor:pointer;
padding:6px 0;
}
.insert_field .fa{
color:#6f6ee0;
float:left;
font-size:15px;
margin-top:1.5px;	
}
.insert_field .text{
color:#6f6ee0;
float:left;
font-size:13px;
margin-left:4px;
font-weight:500;
}

.insert_audio{
float:left;
margin-left:55px;
margin-top:1px;
}

.txt_speach .box_title{
position:relative;
}

.insert_field_box{
width:240px;
position:absolute;
top:30px;
right:0px;
background:#fff;
border:1px solid #ccc;
padding:15px 11px;
box-shadow:4px 4px 20px 1px #ccc;
display:none;
  z-index:100;
}


.in_field_chk {
float:left;
}
.in_field_chk:first-child{
margin-right:15px;
}
.in_field_chk input[type=radio].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -10px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
.in_field_chk input[type=radio].with-font ~ label:before{
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 5px;
    font-size: 16px;
    color: #6f6ee0;
    width: 18px;
	font-weight:bold;
	text-transform:uppercase;
}

.in_field_chk input[type=radio].with-font:checked ~ label:before{
    content: "\f058";
    font-size: 16px;
    color: #6f6ee0;
    letter-spacing: 5px;
}
.in_field_chk label{
font-size:13px;
font-weight:500;
}
.insert_field_box .controlBox{
margin-top:15px;
position:static;
float:left;
width:100%;
}

.insert_field_box .available_files{
width:100%;
height:210px;
margin-top:5px;
}

.insert_field_box .available_files .fa-plus-square {
    float: right;
    font-size: 14px;
    color: #6f6ee0;
    margin-right: 0px;
    margin-top: 1px;
    cursor: pointer;
}

.insert_field_box .available_files .file_name{
    margin-left: 0px;
	width:90%;
}
.in_avail_field{
margin-top:5px;
float:left;
width:100%;
}
.in_avail_field label{
font-size:13px;
font-weight:500;
font-family: 'Roboto', sans-serif;
margin-bottom:3px;
} 

/*------------------------------ fixes ------------------------------ */

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
      margin-left: 0px !important;
    margin-top: 0px !important;
   white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width:90%;
}
.VisualBox .btn-group.bootstrap-select, .VisualBox .dropdown-menu.open {
    width: 100% !important;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text{
   margin-left: 0px !important;
    margin-top: 0px !important; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
}

.bootstrap-select.btn-group .dropdown-menu li a{
  width:100%;
  float:left;
}
 
.audio_file_lst ul li .nofiles{
  margin-left:0px;
  color:#aaa;
  text-align:center;
  width:100%;
   margin-top:25px; 
}

.btnplusicon,.btnminusicon {
    padding: 3px;
    color: #ffffff;
    font-size: 10px;
    background-color: #2b90cc;
    cursor: pointer;
}

.add_field_btn{
padding:7px 10px;
background:#6f6ee0;
font-size:12px;
line-height:12px;
color:#fff;
outline:none;
border:none;
cursor:pointer;
font-weight:500;
font-family: 'Roboto', sans-serif;
position:relative;
padding-left:35px;
margin-top:10px;
margin-bottom:6px;
}
.add_field_btn:after{
content: "\f055";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
/*--adjust as necessary--*/
color: #fff;
font-size: 14px;
position: absolute;
left:0px;
top:0px;
background:#2b90cc;
padding:7px 7px;
}

.controlBox label{
  font-family: robotomedium;
  font-size: 13px;
}
.otherMsgBox label{
 width: auto;
 float:left;
margin-top: 5px;
}

.controlBox{
 width: 240px;
 margin-right: 20px; 
} 
.otherMsgBox.controlBox{
  width: 100%;
 margin-right:0px; 
}
.controlBox input{
	width: 100%;
}

.studio_btn {
    height: 22px;
    font-size: 13px;
    line-height: 22px;
    
    border: none;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
    outline: none;
    padding-left: 0px;
}
.studio_btn .fa {
    background: rgba(0,0,0,0.1);
    width: 22px;
    height: 22px;
    text-align: center;
    padding-top: 4px;
    font-size: 13px;
    color: white;
    float: left;
    margin-right: 10px;
}

.studio_btn.primary{
	background: #7c7be3;
}
 .studio_btn.secondary {
        background: #474747 !important;
 }
 
 .msg_res_lbl .lbl {
        font-size: 13px;
        font-family: robotomedium;
        color: #222222;
        margin-bottom: 5px;
    }

.msg_res_list .msg_box {
	color: #000;
	font-size: 12px;
	line-height: 22px;
	padding-left: 5px;
	margin-left: 2px;
	margin-top: 2px;
	background: #fff;
	border: 1px solid #aaaaaa;
	min-height: 26px;
}

.msg_res_list .msg_box .removeMsgBox {
	background: #6f6ee0;
	color: #fff;
	width: 20px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	float: right;
	margin-right: 2px;
	margin-top: 2px;
	padding-top: 3px;
}

.msg_res_list .msg_box .removeMsgBox:hover {
	background: #fff;
	color: #6f6ee0;
	cursor: pointer;
	border: 1px solid #6f6ee0;
}
